

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="aliases">Pseudonyme :</label>
        <input type="text" class="form-control" id="aliases" name="aliases" placeholder="Votre pseudonyme">
    </div>
    <div class="form-group">
        <label for="aliases">Nom :</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Votre nom">
    </div>
    <div class="form-group">
        <label for="aliases">Prénom :</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Votre prénom">
    </div>
    <div class="form-group">
        <label for="aliases">Email :</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Votre adresse mail">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">S'enregistrer</button>
    </div>
</form>

{% endblock %}